<div class="admin-layout">
  <aside class="sidebar">
    <div class="logo-section">
      <div class="logo-circle">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/campocontrol-de38b.firebasestorage.app/o/logoCampoControl.png?alt=media&token=f7362a66-6434-4506-adea-475736b3416b"
          alt="CampoControl"
          class="logo"
        />
      </div>

      <h3>
        <span class="campo">Campo</span>
        <span class="control">Control</span>
      </h3>

      <small>Los Naranjos</small>
    </div>

    <nav>
      <a routerLink="/app/dashboard">
        <i class="bi bi-house-door-fill fs-3"></i>
        <strong>Dashboard</strong>
      </a>

      <a routerLink="/app/workers">
        <i class="bi bi-people-fill fs-3"></i>
        <strong>Trabajadores</strong>
      </a>

      <a routerLink="/app/daily-record">
        <i class="bi bi-journal-check fs-3"></i>
        <strong>Registro Diario</strong>
      </a>

      <a routerLink="/app/lots">
        <i class="bi bi-tree-fill fs-3"></i>
        <strong>Lotes</strong>
      </a>

      <a routerLink="/app/payments">
        <i class="bi bi-cash-stack fs-3"></i>
        <strong>Liquidaciones</strong>
      </a>
    </nav>
  </aside>

  <div class="content-area">
    <header class="topbar">
      <div>
        <h2>{{ greeting }}</h2>
        <span>Finca Los Naranjos</span>
      </div>

      <div class="profile-section">
        <div class="user-info">
          <img [src]="'https://i.pravatar.cc/100'" />

          <div class="user-text">
            <h4>Pedro Lasso</h4>
          </div>
        </div>

        <button class="logout-btn" type="button" (click)="logout()">
          <i class="bi bi-box-arrow-right"></i>
        </button>
      </div>
    </header>

    <main>
      <router-outlet></router-outlet>
    </main>
    <app-mobile-nav></app-mobile-nav>
  </div>
</div>
