<nav class="mobile-nav">
  <a routerLink="/app/dashboard" routerLinkActive="active">
    <i class="bi bi-house-door-fill fs-3"></i>
    <strong> Inicio</strong>
  </a>

  <a routerLink="/app/workers" routerLinkActive="active">
    <i class="bi bi-people-fill fs-3"></i>
    <strong>Trab.</strong>
  </a>

  <a routerLink="/app/daily-record" routerLinkActive="active">
    <i class="bi bi-journal-check fs-3"></i>
    <strong>Registro</strong>
  </a>

  <a routerLink="/app/lots" routerLinkActive="active">
    <i class="bi bi-tree-fill fs-3"></i>
    <strong>Lotes</strong>
  </a>

  <a routerLink="/app/settings" routerLinkActive="active">
    <i class="bi bi-gear-fill fs-3"></i>
    <strong>Más</strong>
  </a>
</nav>
