.dashboard-page {
  color: white;
}

.welcome-card {
  padding: 1.8rem;

  border-radius: 20px;

  background: rgba(255, 255, 255, 0.04);

  border: 1px solid rgba(255, 255, 255, 0.08);

  margin-bottom: 1.5rem;

  h1 {
    margin: 0;
    font-weight: 700;
  }

  p {
    margin-top: 0.5rem;
    color: #94a3b8;
  }
}

.stats-grid {
  display: grid;

  grid-template-columns: repeat(4, 1fr);

  gap: 1rem;

  margin-bottom: 1.5rem;
}

.stat-card {
  border-radius: 18px;

  padding: 1.2rem;

  display: flex;
  align-items: center;

  gap: 1rem;

  border: 1px solid rgba(255, 255, 255, 0.08);

  background: rgba(255, 255, 255, 0.04);

  h3 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 700;
  }

  span {
    color: #cbd5e1;
    font-size: 0.9rem;
  }
}

.stat-icon {
  width: 55px;
  height: 55px;

  border-radius: 14px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(34, 197, 94, 0.15);

  i {
    font-size: 1.5rem;
    color: #22c55e;
  }
}

.dashboard-content {
  display: grid;

  grid-template-columns: 2fr 1fr;

  gap: 1rem;

  margin-bottom: 1.5rem;
}

.production-card,
.ranking-card {
  background: rgba(255, 255, 255, 0.04);

  border: 1px solid rgba(255, 255, 255, 0.08);

  border-radius: 20px;

  padding: 1.5rem;
}

.production-card h4,
.ranking-card h4 {
  margin-bottom: 1.5rem;
}

.fake-chart {
  height: 220px;

  display: flex;
  align-items: flex-end;

  gap: 12px;
}

.bar {
  flex: 1;

  border-radius: 12px 12px 0 0;

  background: linear-gradient(180deg, #22c55e, #15803d);
}

.h40 {
  height: 40%;
}

.h55 {
  height: 55%;
}

.h60 {
  height: 60%;
}

.h70 {
  height: 70%;
}

.h80 {
  height: 80%;
}

.h90 {
  height: 90%;
}

.h95 {
  height: 95%;
}

.worker-item {
  display: flex;

  justify-content: space-between;

  padding: 1rem 0;

  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.quick-actions {
  display: flex;

  gap: 1rem;
}

.quick-actions button {
  flex: 1;

  border: none;

  border-radius: 16px;

  padding: 1rem;

  background: linear-gradient(135deg, #22c55e, #15803d);

  color: white;

  font-weight: 700;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 0.6rem;

  transition: 0.3s;
}

.quick-actions button:hover {
  transform: translateY(-2px);
}

@media (max-width: 992px) {
  .stats-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .dashboard-content {
    grid-template-columns: 1fr;
  }

  .quick-actions {
    flex-direction: column;
  }
}
