<div class="login-page">
  <div class="overlay"></div>
  <div class="login-card">
    <div class="logo-section">
      <div class="logo-circle">
        <img
          class="logo"
          src="https://firebasestorage.googleapis.com/v0/b/campocontrol-de38b.firebasestorage.app/o/logoCampoControl.png?alt=media&token=f7362a66-6434-4506-adea-475736b3416b"
          alt="Google"
        />
      </div>

      <h1 class="brand-title">
        <span class="campo">Campo</span><span class="control">Control</span>
      </h1>

      <span class="farm-name">
        <i class="bi bi-leaf-fill"></i>
        <strong>Los Naranjos</strong>
      </span>
    </div>

    <div class="content">
      <h2>
        Gestión inteligente
        <br />
        para tu finca cafetera
      </h2>

      <p>
        Controla trabajadores, cosechas, lotes y producción desde cualquier
        lugar.
      </p>

      <div class="harvest-status open">
        <div class="status-header">
          <div class="status-icon">
            <i class="bi bi-check-circle-fill"></i>
          </div>

          <div class="status-info">
            <span class="status-label"> COSECHA ABIERTA </span>

            <h5>Estamos recibiendo trabajadores</h5>
          </div>
        </div>
        <button class="apply-btn">
          <i class="bi bi-person-plus-fill"></i>

          Quiero Trabajar
        </button>
      </div>
      @if (!validatedPlayer) {
        <button class="google-btn mt-5" (click)="showDocumentPrompt()">
          <i class="bi bi-shield-lock-fill"></i>
          <span> Acceso a la Finca </span>
        </button>
      } @else {
        <button class="google-btn mt-5" (click)="loginWithGoogle()">
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/google/google-original.svg"
            width="22"
          />
          <span> Continuar con Google </span>
        </button>
      }
    </div>

    <div class="footer-location">
      <i class="bi bi-geo-alt-fill fs-3"></i>
      <strong> Los Naranjos - Aipe, Huila </strong>
    </div>
  </div>
</div>
